@(itemForm: Form[Item], editedItem:ItemWithAll, items: List[Item])(implicit flash: Flash)

@import views._
@import views.utils._
@import models._
@import play.mvc._

@main(title = "Home") {
	<h2 class="sub-header">Selected items</h2>

	@flash.get("error")
	@flash.get("success")

	@if(itemForm.hasGlobalErrors) {
	  <ul>
	  @for(error <- itemForm.globalErrors) {
	    <li>@error.message</li>
	  }
	  </ul>
	}

	@helper.form(action = routes.Crud.itemCreate(), 'role -> "form") {
      <input type="hidden" id="id" name="id" value="@{if (itemForm("id").value) itemForm("id").value else -1}" >
	  <div class="form-group">
	  	@defining(
		    itemForm("userId").value match {
		        case Some(value) => { 
		        	Seq((value,editedItem.user.login))
		        }
		        case None => {
		        	Seq()
				}
		    }){ defaultSeq =>
		    	@helper.select(itemForm("userId"),defaultSeq,'_label -> "UserId:", 'class -> "form-control", 'placeholder -> "Search an user", '_showConstraints -> false)
			}
	  </div>
	  <div class="form-group">
	    @helper.inputText(itemForm("parentItemId"), '_label -> "ParentItemId:", 'class -> "form-control", 'placeholder -> "Search an item", '_showConstraints -> false)
	  </div>
	  <div class="form-group">
	    @helper.inputText(itemForm("name"), '_label -> "Name:", 'class -> "form-control", 'placeholder -> "Enter name", '_showConstraints -> false)
	  </div>
	  <div class="form-group">
	    @helper.inputText(itemForm("model"), '_label -> "Model:", 'class -> "form-control", 'placeholder -> "Enter model", '_showConstraints -> false)
	  </div>
	  <button type="submit" class="btn btn-default">
	  	@if(itemForm("id").value) {
	  		<span class="glyphicon glyphicon-pencil"></span> Update 
	  	} else {
	  		<span class="glyphicon glyphicon-plus"></span> Add
	  	}
	  </button>
	}

} {
	<h2 class="sub-header">items</h2>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed ">
			<thead>
				<tr>
				  <th></th>
				  <th>ID</th>
				  <th>User ID</th>
				  <th>Parent Item ID</th>
				  <th>Name</th> 
				  <th>Model</th>
				  <th></th>
				</tr>
			</thead>
			<tbody>
			
			@TableSectionHelper.getSections(items).map  { case (group, list) =>
				<tr>
				  <th>@group</th>
				  <th></th> 
				  <th></th> 
				  <th></th> 
				  <th></th>
				  <th></th>
				  <th></th>
				</tr>
				@for(item <- list) {
					@displayItem(item)
				}
			}
				
			</tbody>
		</table>
	</div>
}

@displayItem(item: Item) = {
  <tr>
	  <td></td>
	  <td>@item.id</td>
	  <td>@item.userId</td> 
	  <td>@item.parentItemId</td> 
	  <td>@item.name</td> 
	  <td>@item.model</td>
	  <td>
	  	<form>
		    <button class="btn btn-default" 
		    	type="submit"
		    	formmethod="get"
		    	formaction="@routes.Crud.itemEdit(item.id)"
		    	name="edit">
		    	<span class="glyphicon glyphicon-pencil"></span>
		    </button>
		    <button class="btn btn-default" 
		    	type="submit"
		    	formmethod="post"
		    	formaction="@routes.Crud.itemDelete(item.id)"
		    	name="delete" >
		    	<span class="glyphicon glyphicon-trash"></span>
		    </button>
	    </form>
	  </td>
	</tr>
}